button {
    background-color: #FFFFFF; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}

button:hover {
    background-color: #e7e7e7; 
}

button:active {
    background-color: #ececec; 
}

.column {
  float: left;
  width: 50%;
}
.monster{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    height:300px;
    padding: 50px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #ffffff; 
    padding: 20px;

  

}
.monster:hover {
    cursor: url('./Images/Sword.cur');
    background-color: #FF0000;
   
}